body {
    display: flex;
    flex-direction: column;
}

.flexbox {
    display: flex;
}

.flexboxcolumn {
    display: flex;
    flex-direction: column;
}

.image {
    flex: 0;
}

/* header part of section 1*/

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;   
    }

.logo {
font-size: 24px;
corlor: #F9FAf8;
font-weight: 700;
}

.right-links {
    display: flex;
    color: white;
    font-size: 18px;
    gap: 15px;
}

.linkcolor {
    color: white;
    text-decoration: none;
}

/* Section 1 stuff starts here*/

.section1maincontainer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.section1 {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 30px;
}

.section1nonheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section1title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 10px;
}

.section1text {
    margin-bottom: 10px;
}

.button {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    color: white;
    padding: 20px 15px;
}

/* Section 2 stuff starts here*/

.section2 {
    padding: 10px 50px;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.textsection2 {
    display: flex;
    justify-content: center;
    margin: 0px 10px 15px 0px;
}

.sectionsector2 {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.section2boks {
    display: flex;
    flex-direction: column;
    width: 150px;
    }

.imagesection2 {
    height: 150px;
    width: 150px;
    border: 5px solid lightskyblue;
    border-radius: 10px;
}

.tekstunderpicture {
    display: flex;
    margin-top: 10px;
    text-align: center;

}


/* Section 3 stuff starts here*/

.section3background {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.section3 {
    padding: 10px 0px;
    max-width: 800px;
}

.containersection3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.quoteauthor {
    display: flex;
    justify-content: flex-end;
  }

/* Section 4 stuff starts here*/

.section4background {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
} 

.section4 {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #3882f6;
    border-radius: 10px;
    align-items: center;
}

.section4maintext {
    font-size: 22;
    font-weight: 600;
    color: white;
}

.section4text {
    color: white;
}

.buttonsection4 {
    background-color: #3882f6;   
    color: white;
    border: 1px solid white;
    border-radius: 5px;
 }


/* footer stuff starts here*/

.footer {
    padding: 10px 50px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

/* links styles*/

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}